@charset "UTF-8";
.my-full-info-table{
  .info-color{
    color: #606266;
    font-size: 14px;
  }
  .el-dropdown {
    cursor: pointer;
  }
  .margin-right-10{
    margin-right: 10px;
  }
  .el-checkbox {
    margin-left: 8px;
  }
  .el-radio {
    margin-left: 8px;
  }
}
.checkTag{
  color:#606266;
  background-color: #d9d9d9;
}
.checkMaketTag{
  .el-tag{
    margin-right: 5px;
  }
}
.add-to-order{
  .el-checkbox{

  }
}
