@charset "UTF-8";
.searchBox {
  text-align: right;
  width: 100%;
}

.el-dropdown {
  cursor: pointer;
}
.deliveryOrder {
  .el-dialog__title{
    font-weight: bold;
  }
  .el-dialog__header {
    padding: 0px;
    padding-bottom: 0px !important;
  }
  .el-dialog__body {
    padding: 0px 20px !important;
  }
}
.add-to-order{
 .el-checkbox{
   margin-left: 10px;
 }
  .el-checkbox__label{
    padding-left: 3px!important;
  }
}
