.coefficientCompile{
  .header {
    width: 100%;
  }
  .header-toolbar{
    display: flex;
    justify-content: space-between;
  }
  .search-form{
    display: flex;
    .searchInput{
      margin-right: 15px;
    }
  }
  .coefficientRule{
    .el-form-item{
      margin-left: 30px;
    }
  }
  .buttomBoder{
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdfe6
  }
  .remark{
    .el-form-item__content{
      width: 90%;
    }
  }
  .order{
    .el-form-item{
      min-width: 30%;
    }
    .el-input{
      width: 200px;
    }
  }
  .checkItem {
    margin-left: 0!important;
    .el-tag{
      margin-right: 3px;
    }
  }
.checkMaketStr{
  max-width: 500px;
  line-height: 20px;
  padding: 8px;
}
.coefficientRule{
  .el-form-item{
    margin-left: 30px;
  }
}
.buttomBoder{
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdfe6
}
.remark{
  .el-form-item__content{
    width: 90%;
  }
}
.order{
  .el-form-item{
    min-width: 30%;
  }
  .el-input{
    width: 200px;
  }
}
.checkItem {
  margin-left: 0!important;
  .el-tag{
    margin-right: 3px;
  }
}
}
.checkMaketStr{
  max-width: 500px;
  line-height: 20px;
  padding: 8px;
}
