.header {
  width: 100%;
}
.header-toolbar{
  display: flex;
  justify-content: space-between;
}
.search-form{
  display: flex;
  .searchInput{
    margin-right: 15px;
  }
}
.coefficientCheck{
  margin-right: 12px;
}
.coefficientRule{
  .el-form-item{
    margin-left: 30px;
  }
}
.buttomBoder{
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdfe6
}
.remark{
  .el-form-item__content{
    width: 90%;
  }
}
.red{
  color: red;
}
