@charset "UTF-8";
// .el-main {
//   padding: 0px;
//   padding-top: 0px;
// }
.choose {
  .el-form-item__label {
    height: 100px;
    width: 26% !important;
  }
}
.el-form-item__content{
  .el-tag{
    margin-right: 5px;
  }
  .checkTag{
    color:#606266;
    background-color: #d9d9d9;
  }
}
.deliveryAndSetter{
  height: 450px;
  td{
    padding: 2px 0;
  }
  .el-dialog {
    .el-dialog__body {
      padding: 0 25px 30px !important;
    }
  }
}
.mulCheck{
  .el-tag--mini{
    margin-right: 8px;
  }
}

