.table-feature-block {
    width: 100%;
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .search-wrap {
            display: inline-block;
        }
    }
    &__content {
        padding-top: 15px;
        .el-form-item {
            &.float-right {
                float: right;
            }
        }
    }
    .handle-wrap {
        .input-form {
            display: inline-block;
            &__left {
                margin-right: 8px;
                font-size: 14px;
            }
            &__right {
                margin-right: 8px;
            }
        }
    }
    .search-wrap {
        .el-form-item {
            margin-bottom: 0;
            &.float-right {
                float: right;
            }
        }
    }
}
.takeBy-wrap {
    .el-form-item__content {
        width: 160px;
    }
}
