@charset "UTF-8";
.search-form {
  width: 290px;
  display: flex;

  button {
    margin: 0 10px;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-info1 {
  display: flex;
  flex-wrap: wrap;
}

.upload{
  max-height: 200px;
  overflow: auto;
}
.download-link{
  line-height: 28px;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  color: #fc9153;
}
.successTips {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #67C23A;
}
.setp2 {
  text-align: center;
  .errorTips {
    color: #f56c6c;
  }
}
