@charset "UTF-8";
.op-receive-list{
  .searchBox {
    text-align: right;
  }
  .el-tabs__nav-wrap::after{
    display: none;
  }
  .row1 .el-form-item__label{
    width:60px;
  }
  .el-form-item__label {
    width:80px;
    text-align: right;
  }
  .el-dialog{
    width: 40%;
    p{  padding-left: 5px;
      text-align: left;
      font-size: 16px;
      .red{
        color:red;
      }
    }
    .el-dialog__body {
      text-align: initial;
      padding: 5px 60px 0px;
    }
    .el-form-item__label{
      font-weight: bold;
      width: 80px;
      text-align: center;
    }
  }
  .el-form-item {
    margin-bottom: 10px;
  }
}
.receiptTicketRow1{
  .el-input__inner{
    width: 150px;
  }
}
.checkTag{
  color:#606266;
  background-color: #d9d9d9;
}


