@charset "UTF-8";
.search-form {
  width: 250px;
  display: flex;

  button {
    margin: 0 10px;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-info1 {
  display: flex;
  .input-item{
    width: 485px;
  }
}

.form-info2 {
  .form-ku {
    .form-ku-item {
      display: flex;

      .form-ku-input {
        width: 180px;
      }
    }

    .add-remove {
      display: flex;
      margin-left: 10px;

      i {
        transform: scale(1.6);
        margin: 0 5px;
      }
    }
  }
}
